<a href="https://colab.research.google.com/github/HebahAlshamlan/CITC_Task/blob/master/CITC_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.autograd import Variable
import torch.nn.functional as F
from sklearn.utils import shuffle

pd.set_option('max_colwidth',400)

In [ ]:
dataset = pd.read_csv('cars.csv')
print(dataset.shape)

dataset.head()

(301, 8)

  car_name    year  mileage  ... transmission_type previous_owners selling_price
0     ritz  2014.0    27000  ...            Manual               0          3.35
1      sx4  2013.0    43000  ...            Manual               0          4.75
2     ciaz  2017.0     6900  ...            Manual               0          7.25
3  wagon r  2011.0     5200  ...            Manual               0          2.85
4    swift  2014.0    42450  ...            Manual               0          4.60

[5 rows x 8 columns]

In [ ]:
# Find what the duplicate were
duplicate_row_index = dataset.duplicated(subset=["car_name", "year", "mileage", "fuel_type", "seller_type", "transmission_type" , "previous_owners", "selling_price"], keep="first")
all_duplicate_rows = dataset[duplicate_row_index]
duplicate_rows = all_duplicate_rows.drop_duplicates(subset=["car_name", "year", "mileage", "fuel_type", "seller_type", "transmission_type" , "previous_owners", "selling_price"], keep="first")
duplicate_rows.to_csv('cars_whithout.csv', index=False)

In [ ]:
duplicate_row_index

0      False
1      False
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Length: 301, dtype: bool

In [ ]:
dataset = pd.read_csv('cars_whithout.csv')
dataset

   car_name    year  mileage  ... transmission_type previous_owners selling_price
0    ertiga  2016.0    43000  ...            Manual               0          7.75
1  fortuner  2015.0    40000  ...         Automatic               0         23.00

[2 rows x 8 columns]

In [ ]:
dataset.dtypes

car_name              object
year                 float64
mileage                int64
fuel_type             object
seller_type           object
transmission_type     object
previous_owners        int64
selling_price        float64
dtype: object